.viewtask {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    color: inherit;
    box-sizing: border-box;
    border: none;
    background: #fff;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid #ededed;
}

label {
    word-break: break-all;
    padding: 0px 0px 5px 15px;
    display: inline-block;
    line-height: 1.2;
    transition: color 0.4s;
    position: relative;
    font-size: 24px;
    background-color: #fff;
}

.checkBoxOfTask {
    height: 3em;
    width: 3em;
    vertical-align: middle;

}

.deleteTaskButton {
    display: none;
    content: 'X';
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
    border: none
}

.viewtask:hover .deleteTaskButton {
    display: block;
}

.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
}